  
            <div class="container">
                <div class="jumbotron" style="background:white; border:1px solid gray">
              
                    <table class="table">
                                <thead>
                                      <tr>
                                            <th>Cutoff No.</th>
                                            <th>Click to download</th>
                                      </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                        <td>1st</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/Cut-off/2017-1/23062016_science_I.pdf">click here</a></td>
                                  </tr>
                                  <tr>
                                       <td>2nd</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/Cut-off/2017-2/30062017_II.PDF">click here</a></td>
                                        
                                  </tr>
                                  <tr>
                                        <td>3rd</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/Cut-off/2017-3/06072017_CutOff_3.PDF">click here</a></td>
                                  </tr>
                                  <tr>
                                        <td>4th</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/2017/120720174th%20Cut-Off-2017-18.pdf">click here</a></td>
                                  </tr>
                                  <tr>
                                        <td>5th</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/2017/17072017-5th%20Cut-Off%202017-18.pdf">click here</a></td>
                                  </tr>
                                  <tr>
                                        <td>6th</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/2017/210720176th%20Cut-Off%202017-18.pdf">click here</a></td>
                                  </tr>
                                  <tr>
                                        <td>7th</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/Cut-off/26072017_Cuttoff_7.pdf">click here</a></td>
                                  </tr>
                                  <tr>
                                        <td>8th</td>
                                         <td><a href="http://www.du.ac.in/du/uploads/Admissions/2017/020820178th%20CutOff-Special%20Drive%202017-2018.pdf">click here</a></td>
                                  </tr>
                                </tbody>
                              </table>
                    
                </div>
                
            </div>
