<div> <hr></div>



<div style=" width: 100%">
				<footer >

					<div style="background-color: #21d192;">
						<div class="container">

							<!-- Grid row-->
							<div >

								<!-- Grid column -->
								<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
									<h3 class="mb-0"><b>Get Connected with us on social media</b></h3>
									</div>
									<!-- Grid column -->

									<div class="col-md-6 col-lg-7 text-center text-md-right" >

										<!-- Facebook -->
										

									</div><!-- Grid column -->
									
									<!-- Grid column -->

								</div>
								<!-- Grid row-->

							</div>
						</div>

						<!-- Footer Links -->
						<div class="container text-center text-md-left mt-5">

							<!-- Grid row -->
							<div class="row mt-3 dark-grey-text">

								<!-- Grid column -->
								<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

									<!-- Content -->
									<h6 class="text-uppercase font-weight-bold">Du Locator</h6>
									<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
									<p>This is the complete port where you can find previous as well as latest of all Delhi University Cut-Off</p>

								</div>
								<!-- Grid column -->

								<!-- Grid column -->

								<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" >

									<!-- Links -->
									<h6 class="text-uppercase font-weight-bold">Services</h6>
									<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
									<p>
										<a class="dark-grey-text" href="#!">Near Metro Station</a>
									</p>
									<p>
										<a class="dark-grey-text" href="#!">Colleges with Map</a>
									</p>
									<p>
										<a class="dark-grey-text" href="#!">Event Happening</a>
									</p>


								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

									<!-- Links -->
									<h6 class="text-uppercase font-weight-bold">Some Useful links</h6>
									<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
									<p>
										<a class="dark-grey-text" href="#!">Your Account</a>
									</p>
									<p>
										<a class="dark-grey-text" href="#!">Upcomming Cut-off Dates</a>
									</p>
									<p>
										<a class="dark-grey-text" href="#!">Best Colleges in Du</a>
									</p>
									<p>
										<a class="dark-grey-text" href="#!">Help</a>
									</p>

								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

									<!-- Links -->
									<h6 class="text-uppercase font-weight-bold">Contact</h6>
									<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
									<p>
										<i class="fa fa-home mr-3"></i> palwal</p>
										<p>
											<i class="fa fa-envelope mr-3"></i> nitin.jangid.16csc@bml.edu.in</p>
											<p>
												<i class="fa fa-phone mr-3"></i> +91 9466937956</p>
												<p>
													<i class="fa fa-print mr-3"></i> +91 8397944661</p>

												</div>
												<!-- Grid column -->

											</div>
											<!-- Grid row -->

										</div>
										<!-- Footer Links -->

										<!-- Copyright -->
										<div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
											<a class="dark-grey-text" href="https://mdbootstrap.com/bootstrap-tutorial/"> Du Locator</a>
										</div>
										<!-- Copyright -->

									</footer>

							

								</div>

	



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>