<% include partials/header.ejs %>


<div style="margin-top:8%" >
      
<div class="ui main text container segment"  >
    <div class="ui huge header">Enter new college</div>
    <form class="ui form" action="/home" method="POST">
        <div class="field">
            <label>Name of college</label>
            <input type="text" name="blog[name]" placeholder="enter name of college">
        </div>
        <div class="field">
            <label>LOGO</label>
            <input type="text" name="blog[logo]" placeholder="title">
        </div>
        <div class="field">
            <label>Image of College</label>
            <input type="text" name="blog[image]" placeholder="enter college image">
        </div>
        <div class="field">
            <label>Link</label>
            <input type="text" name="blog[link]" placeholder="image">
        </div>
        <div class="field">
            <label>Address</label>
            <input type="text" name="blog[address]" placeholder="address of colg">
        </div>
        <div class="field">
            <label>Contact</label>
            <input type="text" name="blog[contact]" placeholder="Contact details"> 
        </div>
        <div class="field">
            <label>Api Address</label>
            <input type="text" name="blog[api]" placeholder="APi details"> 
        </div>
       
        <input class="ui violet big basic button" type="submit">
    </form>
</div>
</div>
    
</div>
  

